In [31]:
import sqlite3
import Helpers

In [32]:
# Configurables
table = "users"
delete_at_end = True

In [34]:
# Initialize connection to db. If the db doesn't exist, it will be created.
connection = Helpers.create_connection('new_db.db')

Connection to SQLite DB successful

In [27]:
# Create a table
create_users_table = f"""
CREATE TABLE {table} (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT
);
"""

Helpers.execute_query(connection, create_users_table)  

# Insert data into the table
insert_element = f"INSERT INTO {table} VALUES (1, 'Ashley');"
Helpers.execute_query(connection, insert_element)  # Execute statements can only be ran one at a time

insert_element = f"INSERT INTO {table} VALUES (2, 'Matthew');"
Helpers.execute_query(connection, insert_element)  

insert_element = f"INSERT INTO {table} VALUES (3, 'Shane');"
Helpers.execute_query(connection, insert_element)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [28]:
# Display contents of table

display_table = f"""
SELECT * FROM {table};
"""

Helpers.execute_read_query(connection, display_table)

[(1, 'Ashley'), (2, 'Matthew'), (3, 'Shane')]

In [35]:
# Close the connection
connection.close()

# Optinally, delete the example database
if delete_at_end: 
    import os
    os.remove('new_db.db')