In [2]:
import sqlite3
import Helpers
from importlib import reload

reload(Helpers)

In [3]:
# Configurables
delete_at_end = True

In [15]:
# Initialize connection to db. If the db doesn't exist, it will be created.
connection = Helpers.create_connection('new_db.db')

Connection to SQLite DB successful

In [16]:
# Create a table
create_users_table = f"""
CREATE TABLE users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER
);
"""

create_ids_table = f"""
CREATE TABLE ids (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  id_num INTEGER
);
"""

Helpers.execute_query(connection, create_users_table)  
Helpers.execute_query(connection, create_ids_table)  

# Insert data into the table
insert_element = f"INSERT INTO users VALUES (1, 'Ashley Decaro', 30);"
Helpers.execute_query(connection, insert_element)  # Execute statements can only be ran one at a time

insert_element = f"INSERT INTO users VALUES (2, 'Shane Decaro', 26);"
Helpers.execute_query(connection, insert_element)  

insert_element = f"INSERT INTO users VALUES (3, 'Matthew Decaro', 28);"
Helpers.execute_query(connection, insert_element)  

insert_element = f"INSERT INTO ids VALUES (1, 30062);"
Helpers.execute_query(connection, insert_element)  

insert_element = f"INSERT INTO ids VALUES (2, 32201);"
Helpers.execute_query(connection, insert_element) 

insert_element = f"INSERT INTO ids VALUES (3, 34725);"
Helpers.execute_query(connection, insert_element)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [55]:
# Display contents of table
# Specify column(s): replace * with <col1>, <col2>..
# Temporarily change col name with <col1> as <new_col1>

display_table = f"""
SELECT * FROM users;
"""

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

(1, 'Ashley Decaro', 30)
(2, 'Matthew Decaro', 28)
(3, 'Shane Decaro', 26)

In [27]:
# Apply selections to a query using WHERE

display_table = f"""
SELECT name FROM {table} where age > 26;
"""
# Alternatives: where name = 'Ashley'
# Note: Wildcards are %, so all Ashley's with any last name: name LIKE 'Ashley%'
# Instead of where X > Y and X < Z, use where X between Y and Z.
# To display missing data, use where <col1> is null
#    (Or non-missing data, use is not null)

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

('Ashley Decaro',)
('Matthew Decaro',)

In [32]:
# Sorting

# Typically by default, data is sorted by the Primary Key, this can be changed using ORDER BY

display_table = f"""
SELECT * FROM {table} order by age;
"""

# To print in descending order, add "desc" after the column name.

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

(3, 'Shane Decaro', 26)
(2, 'Matthew Decaro', 28)
(1, 'Ashley Decaro', 30)

In [64]:
# Joining

# To query data from multiple tables into one dataframe, use JOIN

display_table = f"""
SELECT 
    users.name, 
    users.age, 
    ids.id_num 
FROM 
    users 
    INNER JOIN ids ON users.id = ids.id;
"""

# Note the syntax: from TABLE1 inner join TABLE2 on TABLE1.KEY1 = TABLE2.KEY2

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

('Ashley Decaro', 30, 30062)
('Matthew Decaro', 28, 32201)
('Shane Decaro', 26, 34725)

In [5]:
# Using aliases to simplify table names (rename users = a, ids = b)

display_table = f"""
SELECT 
    a.name, 
    a.age, 
    b.id_num 
FROM 
    users a
    INNER JOIN ids b ON a.id = b.id;
"""

# Note the syntax: from TABLE1 inner join TABLE2 on TABLE1.KEY1 = TABLE2.KEY2

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

('Ashley Decaro', 30, 30062)
('Matthew Decaro', 28, 32201)
('Shane Decaro', 26, 34725)

In [19]:
# Summing, averaging etc using GROUP BY. Here, use "having" for selection, rather than "where" (cannot be applied to text)

display_table = f"""
SELECT 
    a.name, 
    b.id_num,
    sum(a.age) as age
FROM 
    users a
    INNER JOIN ids b ON a.id = b.id
    GROUP BY a.name, 
    b.id_num having b.id_num > 34000
    ORDER BY age desc
    ;
"""

# Note the syntax: from TABLE1 inner join TABLE2 on TABLE1.KEY1 = TABLE2.KEY2

table = Helpers.execute_read_query(connection, display_table)  

for line in table:
    print(line)

('Matthew Decaro', 34725, 28)

In [14]:
# Close the connection
connection.close()

# Optinally, delete the example database
if delete_at_end: 
    import os
    os.remove('new_db.db')