pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. pandas is well suited for many different kinds of data: 

    *Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet

    *Ordered and unordered (not necessarily fixed-frequency) time series data.

    *Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

    *Any other form of observational / statistical data sets. The data need not be labeled at all to be placed into a pandas data structure

In [1]:
import pandas as pd

For this tutorial use the original owid dataset. Data analysis can be simplified by pre-processing a dataset via SQL queries, however for this tutorial I will fully process and visualize the data using Pandas.

In [2]:
filename = 'owid-covid-data.csv'
path = 'C:/Users/Matth/git/DataAnalysisWorkbooks/Covid19/Data/Raw_data/'

# Pandas has a method to read csv files directly.
data = pd.read_csv(path+filename)

In [3]:
# Print a list of columns in the dataframe
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
# Print the first five rows of the dataframe
data.head()  # Or .tail() for the last five rows

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

For more on pandas.read_csv(), see: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

<ins>sample of pd.Series methods:</ins>  
max() - maximum value  
argmax() - return index of max value  
abs() - absolute value of every element  
append() - concatenate two Series  
count() - number of non-N/A values in the Series  
describe() - some useful statistics of the Series  
isna() - detect missing values

A full list of methods is available at: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

<ins>sample of pd.DataFrame methods:</ins>  
head() - print first n rows (default = 5)  
describe() - some useful statistics of the Data Frame  
isnull().sum() - prints number of N/A rows for each column  
df[column].plot() - 1D line histogram of column
loc[df.index <= <row_name>].copy()

A full list of methods is available at: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [5]:
# Print statistical information of the dataframe using the .describe() method
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.500660e+05,1.500160e+05,1.488650e+05,1.328490e+05,133027.000000,132895.000000,149366.000000,149316.000000,148170.000000,132162.000000,...,97485.000000,96081.000000,63032.000000,113707.000000,142523.000000,125334.000000,5.234000e+03,5234.000000,5234.000000,5234.000000
mean,2.129889e+06,8.396613e+03,8.258887e+03,5.268740e+04,170.658588,170.173845,23340.273531,105.798327,102.640578,456.016508,...,10.584668,32.758078,50.815453,3.026723,73.596327,0.725873,3.479999e+04,9.011418,16.175762,857.853331
std,1.262162e+07,4.981458e+04,4.636192e+04,2.770702e+05,831.686247,812.521382,38060.066126,364.490261,243.501643,720.868866,...,10.498829,13.521854,31.813518,2.452859,7.489830,0.149989,9.949991e+04,16.669961,31.091730,1283.239325
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.195940e+04,-28.450000,-95.920000,-1745.051271
25%,1.568250e+03,1.000000e+00,5.714000e+00,6.800000e+01,0.000000,0.143000,510.950500,0.022000,1.440000,15.823000,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-9.752500e+01,-0.870000,-0.520000,-37.856745
50%,2.058050e+04,6.900000e+01,9.142900e+01,6.730000e+02,2.000000,2.286000,4010.154000,10.018000,15.843000,105.320000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,2.580050e+03,5.505000,7.205000,401.789828
75%,2.554358e+05,9.200000e+02,9.721430e+02,6.446000e+03,19.000000,20.286000,30549.622000,86.326250,98.924000,620.855000,...,19.100000,41.300000,83.241000,4.000000,78.930000,0.845000,2.147995e+04,13.887500,22.687500,1456.137413
max,3.002903e+08,2.540890e+06,1.964839e+06,5.472566e+06,18062.000000,14704.714000,326925.563000,51427.491000,7406.207000,6083.260000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.043824e+06,115.000000,374.340000,7912.067517

In [6]:
# Drop a column (This is not a permanent change)
data.drop( ['total_deaths'], axis=1 ).head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
# Combine multiple columns into a new column (Added to the last column, this is a permanent change to the dataframe)
data['caseDeathRatio'] = data['total_cases'] / data['total_deaths']
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,caseDeathRatio
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN

In [8]:
# Check for missing (NULL) data
data.isnull().sum()

iso_code                                        0
continent                                    9202
location                                        0
date                                            0
total_cases                                  2629
                                            ...
excess_mortality_cumulative_absolute       147461
excess_mortality_cumulative                147461
excess_mortality                           147461
excess_mortality_cumulative_per_million    147461
caseDeathRatio                              19847
Length: 68, dtype: int64